################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ElmahCore/v15/Server/sqlite3
/.vs/ElmahCore/v15
/.vsElmahCore/bin/**/*
.idea/**/*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

/.vs/ElmahCore
/.vs
*/bin/**
/ElmahCore.DemoCore6/wwwroot/log/*
/ElmahCore.DemoCore8/wwwroot/log/*
/ElmahCore.DemoCore10/wwwroot/log/*

.github/
.*-ai-assets-lock.json
